
* {
    padding: 0;
    margin: 0;
}

/* Navbar */

li {
    list-style: none;
    margin-right: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}

.navbar-light {
    color: black;

}

.line {
    border: 2px solid #DA7297;
    border-radius: 3px;
    display: none;

}

.active .line {
    display: block;
}


.nav-item {

    margin-right: 1.5rem;
    font-family: 'Roboto', sans-serif;

    font-weight: 700;
    font-size: 20px;
    line-height: 29px;

}

.navbar {
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.38);
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}

/* main */
#home {
    padding: 6%;
}

.about {
    height: 660px;

}

#about{
    padding: 3%;
}


/* Text */

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 150px;
    line-height: 180px;


}

h2 {
    font-family: 'Roboto', sans-serif;

    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    color: #6B6FCF;


}


.text {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: justify;
    padding: 5%;

}

.subtitle{

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    text-align: left;
    padding-left: 3%;

}

.text-contact{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;

}

/*Contact */
.icon {
    color: black;
}

.btn-contact{
    border-color: #6B6FCF;
    padding: 15px 15px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: transform .3s;
    text-decoration: none;

}


.btn-contact:hover {
    transform: translateY(5px);
    background-color:#6B6FCF;
    color: white;
}
